<a href="https://colab.research.google.com/github/MikaelaGit/CursoPython/blob/main/Cursopy_6_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Curso python 6
Sintaxis básica IV Funciones II
Funciones: paso de parametros

In [5]:
#def suma(): sin parametros
  #num1 = 10
  #num2 = 29
  #print(num1 + num2)

def suma(num1, num2): #con parametros
  print(num1 + num2)

suma(29, 10)

suma(45, 5)

suma(20, 10)

39
50
30

In [6]:
def suma(num1, num2):
  resultado = num1 + num2
  return resultado

print(suma(5,7))

print(suma(45, 6))

print(suma(23, 4943))

12
51
4966

In [7]:
def suma(num1, num2):
  resultado = num1 + num2
  return resultado

almacena_resultado = suma(5, 9)

print(almacena_resultado)

14

In [ ]:
Curso python 7
Sintaxis básica listas

Sintaxis de las listas

nombreLista =  [elem1, elem2, elem3... ]

In [15]:
miLista = ["bada lee", "noze", "unholy", "swf", "you got it" ]

print(miLista[:]) #lista completa
print(miLista [0]) #un elemento
print(miLista [1])
print(miLista [2])
print(miLista [3])
print(miLista [-4])
print(miLista [4])
print(miLista [-1])
print(miLista [0:3]) #una porción de la lista, el 3 se excluye
print(miLista [:3])
print(miLista [2:]) #accede desde el 2 hasta el final

['bada lee', 'noze', 'unholy', 'swf', 'you got it']
bada lee
noze
unholy
swf
noze
you got it
you got it
['bada lee', 'noze', 'unholy']
['bada lee', 'noze', 'unholy']
['unholy', 'swf', 'you got it']

In [25]:
miLista = ["bada lee", "noze", "unholy", "swf", "you got it" ]

miLista.append("Only") #agrega el elemento al final
miLista.insert(2, "MyBoo") #agrega un elemento donde se dice
miLista.extend([28, "virgo", True, 1.5]) #agrega varios elementos
print(miLista.index("unholy")) #nos dice el índice del elemento, si hay elementos repetidos, nos devuelve el indice del primero
print("noze" in miLista) #comprueba si ese elemento se encuentra en la lista
miLista.remove("swf") #elimina un elemento
miLista.pop() #elimina el ultimo elemento de la lista en este caso 1.5
print(miLista[:])

3
True
['bada lee', 'noze', 'MyBoo', 'unholy', 'you got it', 'Only', 28, 'virgo', True]

In [26]:
miLista = ["bada lee", "noze", "unholy", "swf", "you got it" ]

miLista2 = [ "sana", "momo", "mina"]

miLista3 = miLista + miLista2 #une las dos listas

print(miLista3[:])

['bada lee', 'noze', 'unholy', 'swf', 'you got it', 'sana', 'momo', 'mina']

In [ ]:
[]

In [28]:
miLista2 = [ "sana", "momo", "mina"] * 3  #repite la lista por 3

print(miLista2[:])

['sana', 'momo', 'mina', 'sana', 'momo', 'mina', 'sana', 'momo', 'mina']