<a href="https://colab.research.google.com/github/MikaelaGit/CursoPython/blob/main/Cursopy_8_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Curso python sintaxis básica tuplas []

In [1]:
tupla = ("bada", "lee", "tema bebe", 28, "virgo")

print(tupla[2]) #acceder a un elemento

tema bebe

In [2]:
#Convertir una tupla en una lista mediante .list

tupla = ("bada", "lee", "tema bebe", 28, "virgo")
lista = list(tupla)
print(lista) #se imprime con corchete

['bada', 'lee', 'tema bebe', 28, 'virgo']

In [6]:
#Convertir una lista en una tupla mediante.tuple

lista = ['bada', 'lee', 'tema bebe', 28, 'virgo']

tupla = tuple(lista)

print(tupla)
print("lee" in tupla) #si un elemento se encuentra en la lista
print(tupla.count("lee")) #cuantas veces se encuentra ese elemento
print(len(tupla)) #cuantos elemento hay en la tupla

('bada', 'lee', 'tema bebe', 28, 'virgo')
True
1
5

In [7]:
#Tupla unitaria

tuplaunitaria = ("bada lee",) #tiene que llevar la coma
print(len(tuplaunitaria))

1

In [8]:
#las tuplas se pueden crear sin parentesis
#se conoce como empaquetado de tupla

bada = "mi amor", "virgo", "te amo"
print(bada)

('mi amor', 'virgo', 'te amo')

In [9]:
#también se puede hacer lo inverso, que se llama desempaquetado de tupla

twice = (9, "fancy", "hot", "nayeon", "sana", "momo")
miembros, cancion, cancion2, unnie, japonesa, dacinemachine = twice

print(miembros)
print(japonesa)
print(cancion2)

9
sana
hot

In [ ]:
Curso python 9 Sintaxis básica Diccionarios

In [14]:
diccionario = {"bada" : "lee", "edad" : 28, "signo": "virgo"}
diccionario["Nacionalidad"] = "Japonesa" #añadir un elemento
print(diccionario)

diccionario["Nacionalidad"] = "Coreana" #modificar el valor de una clave
print(diccionario["bada"]) #acceder a un elemento
print(diccionario)

del diccionario["edad"] #eliminar un elemento
print(diccionario)

{'bada': 'lee', 'edad': 28, 'signo': 'virgo', 'Nacionalidad': 'Japonesa'}
lee
{'bada': 'lee', 'edad': 28, 'signo': 'virgo', 'Nacionalidad': 'Coreana'}
{'bada': 'lee', 'signo': 'virgo', 'Nacionalidad': 'Coreana'}

In [15]:
diccionario2 = {"alemania": "berlín", 23 : "jordan", "mosqueteros":3}
print(diccionario2)

{'alemania': 'berlín', 23: 'jordan', 'mosqueteros': 3}

In [17]:
#utilizar una tupla para asignar las claves a los valores

tupla = ["España", "francia", "reino unida", "alemania"]
diccionario3 = {tupla [0]: "madrid", tupla[1]: "parís", tupla[2]: "londres", tupla[3]: "berlín"}
print(diccionario3)
print(diccionario3["francia"]) #acceder a un elemento

{'España': 'madrid', 'francia': 'parís', 'reino unida': 'londres', 'alemania': 'berlín'}
parís

In [19]:
#un diccionario almacene en su interior una tupla

diccionario = {"sana": "lead vocal", "momo": "dacingmachine", 9 : ["nayeon", "jeonyeon", "momo", "sana"]}
print(diccionario )
print(diccionario["momo"])
print(diccionario[9])

{'sana': 'lead vocal', 'momo': 'dacingmachine', 9: ['nayeon', 'jeonyeon', 'momo', 'sana']}
dacingmachine
['nayeon', 'jeonyeon', 'momo', 'sana']

In [22]:
diccionario = {"sana": "lead vocal", "momo": "dacingmachine", 9 :{"miembros" :["nayeon", "jeonyeon", "momo", "sana"]}}

#diccionario dentro de un diccionario y a su vez el 2 diccionario tiene una tupla adentro
print(diccionario[9])
print(diccionario)

{'miembros': ['nayeon', 'jeonyeon', 'momo', 'sana']}
{'sana': 'lead vocal', 'momo': 'dacingmachine', 9: {'miembros': ['nayeon', 'jeonyeon', 'momo', 'sana']}}

In [25]:
#metodo key, value, len
diccionario = {"sana": "lead vocal", "momo": "dacingmachine", 9 :{"miembros" :["nayeon", "jeonyeon", "momo", "sana"]}}
[]
print(diccionario.keys()) #claves del diccionario
print(diccionario.values()) #valores de las claves
print(len(diccionario))

dict_keys(['sana', 'momo', 9])
dict_values(['lead vocal', 'dacingmachine', {'miembros': ['nayeon', 'jeonyeon', 'momo', 'sana']}])
3