<a href="https://colab.research.google.com/github/MikaelaGit/CursoPython/blob/main/Curso%20Python%201%20-%208.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Curso Python pildorasinformaticas 
mensaje = '''Esto es un mensaje
 con tres saltos 
 de lineas'''
print(mensaje)

Esto es un mensaje
 con tres saltos
 de lineas

In [ ]:
#Curso Pytho clase 5
#Funciones, que son, utilidad, sintaxis, ejecución

Las funciones son:
Conjunto de lineas de codigo agrupadas (bloque de código) que funcionan como una unidad realizando una tarea especifica. 
Las funciones en Python pueden devolver valores. 
Las funciones en Python pueden tener parametros/Argumentos. 
A las funciones tambien se las denomina "Métodos" cuando se encuentran definidas dentro de una clase. 
Utilidad: 
Reutilizacion de código (cuando sea necesario o si es necesario).
Sintaxis
*   def nombre_función(): a los parentesis se los denomina zona de parametros ().
      Instrucciones de la funciones
      return(opcional)
*   def nombre_funcion(parametros)
      Instrucciones de la funcion 
      return (opcional)
Ejecución

nombre_funcion()
nombre_funcion(parametros)

In [ ]:
#funciones 
def mensaje(): #declaración de la función
  print('No rompas la cadena')
  print('No rompas la cadena')  #cuerpo de la función 
  print('No rompas la cadena')
#llamar a una fución 
mensaje()

print('Ejecutando codigo fuera de función')

mensaje()

No rompas la cadena
No rompas la cadena
No rompas la cadena
Ejecutando codigo fuera de función
No rompas la cadena
No rompas la cadena
No rompas la cadena

In [ ]:
#Curso python sintaxis basica 4 funciones 2
#Funciones - Paso  de parametros 
def suma():   #puede no recibir parametros o recibir muchos
  num1 = 5
  num2 = 7
  print(num1 + num2)

suma()
suma()
suma()

12
12
12

In [ ]:
def suma(num1, num2):
  print(num1 + num2)

suma(2, 4)
suma(878, 643)
suma(7,7)

6
1521
14

def suma(num1, num2):
  resultado : num1 + num2
  return resultado

In [ ]:
def suma(num1, num2):
  resultado = num1 + num2
  return resultado 
print(suma(2, 4))
print(suma(878, 643))
print(suma(7,7))

6
1521
14

In [ ]:
def suma(num1, num2):
  resultado = num1 + num2
  return resultado 
almacena_resultado = suma(5, 8)
print(almacena_resultado)

13

In [ ]:
#Curso python 7 sintaxis básica listas 
#Sintaxis de las listas 
#nombreLista = [elem1, elem2, elem3... ] elem1 = posicion 0 ç
miLista = ['June', 'Julieta', 'Pepe', 'Kiara'] 
print(miLista[:]) #todo la lista

['June', 'Julieta', 'Pepe', 'Kiara']

In [ ]:
miLista = ['June', 'Julieta', 'Pepe', 'Kiara'] 
print(miLista[2]) #acceder a un elemento

Pepe

In [ ]:
miLista = ['June', 'Julieta', 'Pepe', 'Kiara'] 
print(miLista[-2]) #da vuelta la lista y empieza de 1

Pepe

In [ ]:
#acceder a una porción de lista 
miLista = ['June', 'Julieta', 'Pepe', 'Kiara'] 
print(miLista[:3]) #el 3 lo excluye
miLista = ['June', 'Julieta', 'Pepe', 'Kiara'] 
print(miLista[1:3]) #solo 1 y 2
miLista = ['June', 'Julieta', 'Pepe', 'Kiara'] 
print(miLista[2:])  #accede desde el 2 hasta el final, sin incluir el 2

['June', 'Julieta', 'Pepe']
['Julieta', 'Pepe']
['Pepe', 'Kiara']

In [ ]:
#agregar elementos a la lista
miLista = ['June', 'Julieta', 'Pepe', 'Kiara'] 
miLista.append('Sara') #append agrega el elemento al final 
print(miLista[:])
miLista.insert(2,'Sandra')
print(miLista[:]) #agregar el elemento en el indice de 2
miLista.extend(['No', 'termina', 'más']) #extiende la lista, agrega muchos elementos 
print(miLista[:])

['June', 'Julieta', 'Pepe', 'Kiara', 'Sara']
['June', 'Julieta', 'Sandra', 'Pepe', 'Kiara', 'Sara']
['June', 'Julieta', 'Sandra', 'Pepe', 'Kiara', 'Sara', 'No', 'termina', 'más']

In [ ]:
miLista = ['June', 'Julieta', 'Pepe', 'Kiara'] 
print(miLista.index('Julieta')) #para saber en que lugar esta ese elemento
miLista = ['June', 'Julieta', 'Julieta', 'Kiara'] 
print(miLista.index('Julieta')) #si esta repetido solo imprime el primer elemento

1
1

In [ ]:
#comprobar si un elemento se encuentra o no la lista
miLista = ['June', 'Julieta', 'Pepe', 'Kiara'] 
print('June' in miLista)

True

In [ ]:
miLista = ['June', 5, True, 7.5, 'Julieta', 'Pepe', 'Kiara'] 
print(miLista[3])
miLista.remove('June') #remueve un elemento de la lista
print(miLista[:])
miLista.pop()   #elimina el ultimo elemento de la lista
print(miLista[:])

7.5
[5, True, 7.5, 'Julieta', 'Pepe', 'Kiara']
[5, True, 7.5, 'Julieta', 'Pepe']

In [ ]:
miLista = ['June', 5, True, 7.5, 'Julieta', 'Pepe', 'Kiara'] * 3
miLista2 = ['Quiero', 'Comeer']
miLista3 = miLista + miLista2 #suma las listas 
print(miLista3 [:])
print(miLista [:])

['June', 5, True, 7.5, 'Julieta', 'Pepe', 'Kiara', 'June', 5, True, 7.5, 'Julieta', 'Pepe', 'Kiara', 'June', 5, True, 7.5, 'Julieta', 'Pepe', 'Kiara', 'Quiero', 'Comeer']
['June', 5, True, 7.5, 'Julieta', 'Pepe', 'Kiara', 'June', 5, True, 7.5, 'Julieta', 'Pepe', 'Kiara', 'June', 5, True, 7.5, 'Julieta', 'Pepe', 'Kiara']

curso python 8 

sintaxis básica tuplas 

Las tuplas son listas inmutables, es decir, no se pueden modificar despues de su creación. 
- No permiten añadir, eliminar, mover elemento etc (no append, extend, remove)
- No permiten búsquedas (no index), en las ultimas versiones de python si se permite, de la misma forma que en las listas
- Si permiten comprobar si un elemento se encuentra en la tupla. 


¿Que utilidad o ventaja respecto a las listas?

- Más rapidas 
- Menos espacio (mayor optimización)
- Formatean Strings 
- Pueden utilizarse como claves en un diccionatio, (las listas no)

In [ ]:
#curso python 8 
#sintaxis básica tuplas 
#nombreTupla = (elem1, elem2, elem3...)
miTupla = ('La', 'Puta', 'Madre', 3)
print(miTupla [2]) #mostrar el elemento

Madre

In [ ]:
#convertir tuplas en listas 
milista = list(miTupla)
print(milista)

['La', 'Puta', 'Madre', 3]

In [ ]:
#convertir lista a tuplas 
milista = ['La', 'Puta', 'Madre', 3]
mitupla = tuple(milista)
print(mitupla)

('La', 'Puta', 'Madre', 3)

In [ ]:
#comprobar si hay un elemento en la tupla 
mitupla = ('La', 'Puta', 'Madre', 3, 'Madre')
print('Puta' in mitupla)

True

In [ ]:
#metodo count averiguar cuantos elementos se encuentran dentro de una tupla 
print(mitupla.count('Madre'))

2

In [ ]:
#metodo lend nos permite averiguar la longitud de una tupla 
print(len(mitupla))
#tuplas unitarias 
mitupla1 = ('Madre',)
print(len(mitupla1))

5
1

[ ] { } ¿?

In [ ]:
#se pueden omitir los parentesis, pero no se recomienda, se llama empaquetado de tupla 
mitupla3 = 'Juan', 'ramon', 23, 4.5 
print(mitupla3)

('Juan', 'ramon', 23, 4.5)

In [ ]:
#desempaquetado de tupla 
mitupla3 = ('Juan', 'ramon', 23, 4.5)
nombre, dia, mes, nose = mitupla3
print(nombre)
print(dia)
print(nose)
print(mes)

Juan
ramon
4.5
23

Curso Python 9 sintaxis Básica diccionarios