<a href="https://colab.research.google.com/github/MikaelaGit/CursoPython/blob/main/Repaso_de_funciones.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Las funciones en PYTHON video de Commit that line 


https://www.youtube.com/watch?v=hLRoDs4wNCU

In [ ]:
#nombre(x,y) -> val nombre, argumentos, resultados

In [2]:
#Programa para evaluar las notas medias de una clase 

suma = 7 + 8 + 9
media = suma /3

print('La puntación de esta clase es: ', media)

La puntación de esta clase es:  8.0

In [4]:
def puntacion(alumno1, alumno2, alumno3):
  suma = alumno1 + alumno2 + alumno3 
  # media = suma / 3
  return suma / 3

media = puntacion(7,8,9)
print('La puntación de esta clase es: ', media)

media = puntacion(7,5,9)
print('La puntación de esta clase es: ', media)

La puntación de esta clase es:  8.0
La puntación de esta clase es:  7.0

In [7]:
def puntacion(clase):
   # media = suma / 3
  return sum(clase) /len(clase)

clase = [7,8,9]
media = puntacion(clase)
print('La puntación de esta clase es: ', media)

clase = [5,6,7.5,10]
media = puntacion(clase)
print('La puntación de esta clase es: ', media)

La puntación de esta clase es:  8.0
La puntación de esta clase es:  7.125

In [12]:
#Tabla de multiplicar 

numero = 2
def mostrar_lineas(num, linea):
  print(num, 'x', linea, '=>', num * linea)

mostrar_lineas(numero, 1)
mostrar_lineas(numero, 2)
mostrar_lineas(numero, 3)
mostrar_lineas(numero, 4)
mostrar_lineas(numero, 5)
mostrar_lineas(numero, 6)
mostrar_lineas(numero, 7)
mostrar_lineas(numero, 8)
mostrar_lineas(numero, 9)
mostrar_lineas(numero, 10)

2 x 1 => 2
2 x 2 => 4
2 x 3 => 6
2 x 4 => 8
2 x 5 => 10
2 x 6 => 12
2 x 7 => 14
2 x 8 => 16
2 x 9 => 18
2 x 10 => 20

In [ ]:
#Listas, Tuples, Sets, Strings y diccionarios en Pyhton video de Commit that line

In [17]:
#Listas 

numeros = [ 1, 2, 3, 4, 5] 
print(numeros[3])
print(numeros[-1])
print(numeros[4])
print(numeros[0:4]) #acceder a una porción
print(numeros[0:4:2]) #va de dos en dos

4
5
5
[1, 2, 3, 4]
[1, 3]

In [25]:
lista1 = [1,2,3,4 ]
lista2 = [5,6,7,8 ]

print(lista1 + lista2)
print(len(lista1))
print(4 in lista1)
lista1[3] = 0
print(lista1[3])

[1, 2, 3, 4, 5, 6, 7, 8]
4
True
0

In [22]:
#Tuplas 

tuplas = (1,2)

print(tuplas)
print(tuplas[0])

(1, 2)
1

In [28]:
#Strings
frase = 'Esto es una string'

print(len(frase))
print(frase[0])
print('X' in frase)
print(type(frase))
print(frase.upper())

18
E
False
<class 'str'>
ESTO ES UNA STRING

[ ] { } ¿?

In [34]:
#Sets
set1 = set([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
set2 = set([0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20])

print(set1)
print(set2)

print('Elementos del primer conjunto', set1 - set2)
print('Elementos del segundo conjunto', set2 - set1)
print('Interseción de ambos conjunos', set1 & set2)
print('Unión de los dos conjuntos', set1 | set2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20}
Elementos del primer conjunto {1, 3, 5, 7, 9}
Elementos del segundo conjunto {0, 12, 14, 16, 18, 20}
Interseción de ambos conjunos {2, 4, 6, 8, 10}
Unión de los dos conjuntos {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 14, 16, 18, 20}

In [35]:
#Diccionarios 
persona = {'nombre':'Lucas', 'Edad':24, 'Grupo':'NCT'}
print(persona['nombre'])
print(len(persona))
print('Juan' in persona)

Lucas